li.socialBtns_item.is-hateb
  .socialBtn
    unless is_amp
      amp-social-share(type="hateb" layout="fixed" width="27" height="27" data-share-endpoint=`http://b.hatena.ne.jp/entry/${config.url}${config.root}${post.path}`)
    else
      amp-social-share(type="hateb" layout="fixed" width="27" height="27" data-share-endpoint=`http://b.hatena.ne.jp/entry/${url}`)
