link(rel='canonical', href="{block:IndexPage}{BlogURL}{/block:IndexPage}{block:PermalinkPage}{Permalink}{/block:PermalinkPage}")

//- favicon and touch icon
link(rel="apple-touch-icon" href='{PortraitURL-128}')
//- link(rel="apple-touch-icon-precomposed" href="</apple-touch-icon.pngのパス>")
link(rel="shortcut icon" href="{Favicon}")
//- RSS
link(rel="alternate", type="application/rss+xml", href="{RSS}")

//- CSS
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Subrayada|Noto+Sans")
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
