.relatedPosts
  //- amp-list(width="300" height="100" layout="responsive" credentials="include"  src="https://api.tumblr.com/v2/blog/blog.solunita.net/posts?api_key={text:ApiKey}{block:Tags}&tag={URLSafeTag}{/block:Tags}&limit=5&clientId=CLIENT_ID(myCookieId)")
  //-   template(type="amp-mustache")
  //-     | {{response.posts}}
  //-     ul
  //-       li: a(href="{{post_url}}") {{slug}}
  //-     | {{/response.posts}}
