nav.l-header_nav.siteNavbar(role='navigation')
  ul.siteNavbar_items
    li.siteNavbar_item
      button.siteNavbar_btn.is-menu(on="tap:sidebar.toggle")
        i.fa.fa-bars &nbsp;
        | MENU
    //- TODO: search bar will be amp-bind with amp-list
    li.siteNavbar_item
      form#cse-search-box.siteNavbar_search(method="GET" action="https://google.com/cse" target="_top")
        input(type="hidden" name="cx" value="015030817493399284889:s9cuavlghdm")
        input.siteNavbar_searchField(type="search" placeholder="Search..." name="q" value="")
        button.siteNavbar_btn.is-search.fa(name="sa" type="submit") &#xf002;
