amp-accordion.tagcloud
  section
    h3.tagcloud_title
      i.fa.fa-fw.fa-angle-right &nbsp;
      i.fa.fa-fw.fa-tags
      | &nbsp;Tags
    //- TODO: fix when amp generating
    unless is_amp
      != list_tags({ class: 'tagcloud', show_count: false })
