main.l-main.autopagerize_page_element(role='main')
  .l-main_container
    //- include /modules/_displayNotes
    each post in site.posts.sort('date', -1).toArray()
      include ./_partial/_organisms/_article
      
        

//- block content
  //- - var categoriesList = list_categories({ show_count: false })
  //- - var tagsList = list_tags({ show_count: false })
  //- - var archivesList = list_archives({ show_count: false })
