main.l-main.autopagerize_page_element(role='main')
  .l-main_container
    != partial('_organisms/_molecules/_pageAttr')
    each post in site.posts.sort('date', -1).toArray()
      != partial('_organisms/_article', {post: post})
      
        

//- block content
  //- - var categoriesList = list_categories({ show_count: false })
  //- - var tagsList = list_tags({ show_count: false })
  //- - var archivesList = list_archives({ show_count: false })
