//- block variables
doctype html
html(amp lang=config.language)
  != partial('_organisms/_molecules/_head')
  body.t-body
    != partial('_organisms/_molecules/_atoms/_analytics')
    != partial('_organisms/_molecules/_siteHeader')
    != partial('_organisms/_siteSidebar')
    != body
    != partial('_organisms/_molecules/_paging')
    != partial('_organisms/_molecules/_siteFooter')
