- var is_amp = false
doctype html
html(lang=config.language)
  != partial('_organisms/_molecules/_head')
  body.t-body
    != partial('_organisms/_molecules/_atoms/_analytics')
    != partial('_organisms/_molecules/_siteHeader')
    != partial('_organisms/_siteSidebar')
    main.l-main.autopagerize_page_element(role='main')
      .l-main_container
        != partial('_organisms/_molecules/_pageAttr')
        != body
    != partial('_organisms/_molecules/_paging')
    != partial('_organisms/_molecules/_siteFooter')
