//- block variables
doctype html
html(amp lang=config.language)
  include ./_partial/_molecules/_head
  body.t-body
    != body
    //- include _partial/_atoms/_analytics
    //- 
    //- include _partial/layouts/_header
    //- include _partial/layouts/_sidebar
    //- 
    //- block content
    //- 
    //- include _partial/layouts/_footer
    //- include _partial/modules/_js
