head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# {block:IndexPage}blog: http://ogp.me/ns/blog# {/block:IndexPage}{block:PermalinkPage}article: http://ogp.me/ns/article# {PostID}{/block:PermalinkPage}")
  title #{config.title} - #{page.title}
  include ../_atoms/_metas
  include ../_atoms/_links
  include ../_atoms/_amps
  include ../_atoms/_schema
