.postBody
  // NOTE: the selector has ':not([class])' in below is for default style which created by blog post like markdown
  // ------------------------------------------------------------
  // Headings
  // ------------------------------------------------------------
  /*
---
name: Headings
tag:
  - atom
  - latest
category:
  - postBody
  - postBody/Headings
compile: true
---
```jade
article
  h1 H1-Big Heading 大見出し(disable to use, just for fallback)
  h2 H2-Big Heading 大見出し
  h3 H3-Medimum Heading 中見出し
  h4 H4-Small Heading 小見出し
  h5 H5-Emphasis Heading 強調見出し
  h6 H6-Minimum Heading 最小見出し
```
  */
  // NOTE: H1 is not in use in post body, it is for just in case
  $h1h2
    font-weight: bold
    font-size: $font-size-large
    border-left: rhythmical-space(0.25) solid $black-base
    padding-left: rhythmical-space(0.25)
    padding-right: rhythmical-space(0.25)
    background-color: $bg-color-emphasis
    vertical-rhythm: true
    rhythmical-margin: 0 0 1 0
    +media-query(media-medium)
      border-left: rhythmical-space(0.5) solid $black-base
      padding-left: rhythmical-space(0.5)
      padding-right: rhythmical-space(0.5)
  h1:not([class])
    @extend .postBody $h1h2
  h2:not([class])
    @extend .postBody $h1h2
  h3:not([class])
    font-weight: bold
    font-size: $font-size-large
    border-bottom: 2px solid $black-base
    border-left: rhythmical-space(0.125) solid $black-base
    padding-left: rhythmical-space(0.25)
    padding-right: rhythmical-space(0.25)
    vertical-rhythm: true
    rhythmical-margin: 0 0.125 1 0.125
    +media-query(media-medium)
      border-left: rhythmical-space(0.25) solid $black-base
      padding-left: rhythmical-space(0.5)
      padding-right: rhythmical-space(0.5)
      rhythmical-margin: 0 0.25 1 0.25
  h4:not([class])
    font-weight: bold
    font-size: $font-size-large
    border-left: rhythmical-space(0.125) solid $black-base
    padding-left: rhythmical-space(0.25)
    padding-right: rhythmical-space(0.25)
    vertical-rhythm: true
    rhythmical-margin: 0 0.125 1 0.125
    +media-query(media-medium)
      border-left: rhythmical-space(0.25) solid $black-base
      padding-left: rhythmical-space(0.5)
      padding-right: rhythmical-space(0.5)
      rhythmical-margin: 0 0.25 1 0.25
  h5:not([class])
    font-weight: bold
    font-size: $font-size-base
    border-left: rhythmical-space(0.125) solid $black-base
    padding-left: rhythmical-space(0.25)
    padding-right: rhythmical-space(0.25)
    vertical-rhythm: true
    rhythmical-margin: 0 0.125 1 0.125
    +media-query(media-medium)
      border-left: rhythmical-space(0.25) solid $black-base
      padding-left: rhythmical-space(0.5)
      padding-right: rhythmical-space(0.5)
      rhythmical-margin: 0 0.25 1 0.25
  h6:not([class])
    font-weight: bold
    font-size: $font-size-base
    padding-left: rhythmical-space(0.375)
    padding-right: rhythmical-space(0.375)
    vertical-rhythm: true
    rhythmical-margin: 0 0.125 1 0.125
    +media-query(media-medium)
      padding-left: rhythmical-space(0.75)
      padding-right: rhythmical-space(0.75)
      rhythmical-margin: 0 0.25 1 0.25
  // ------------------------------------------------------------
  // List
  // ------------------------------------------------------------
  /*
---
name: list
tag:
  - atom
  - latest
category:
  - postBody
  - postBody/list
compile: true
---
```jade
article
  dl
    dt 定義型リスト 用語
    dd 定義型リスト 定義
  p テストテストテスト
  h3 順序付きリスト(ol)
  ol
    li リストアイテム 1
    li
      | リストアイテム 2
      ol
        li 二重
        li
          | 二重
          ol
            li 三重
    li リストアイテム
  p テウトテストテスト
  h3 並列列挙リスト(ul)
  ul
    li リストアイテム 1
    li リストアイテム 2
    li
      | リストアイテム 2
      ul
        li 二重
        li
          | 二重
          ul
            li 三重
```
  */
  ol:not([class]), ul:not([class])
    vertical-rhythm: true
    rhythmical-margin: 0 0.5 1 0.5
    +media-query(media-medium)
      rhythmical-margin: 0 1 1 1
    li
      rhythmical-margin: 0 0 0 0.75
      & > ol, & > ul
        margin-left: 0
  ol:not([class])
    list-style-type: decimal
  ul:not([class])
    list-style-type: disc
    ul:not([class])
      list-style-type: circle
      ul:not([class])
        list-style-type: square
  dl:not([class])
    vertical-rhythm: true
    rhythmical-margin: 0 0.5 1 0.5
    +media-query(media-medium)
      rhythmical-margin: 0 1 1 1
    dd:not([class])
      rhythmical-margin: 0 0 0 0.75
  // ------------------------------------------------------------
  // Image
  // ------------------------------------------------------------
  /*
---
name: Image
tag:
  - atom
  - latest
category:
  - post
  - postBody/image
compile: true
---
```jade
article
  img(src="http://lorempixel.com/400/300/nature/dummy")
```
  */
  img:not([class])
    border: solid 5px $black-base
    border-radius: 3px
    display: block
  // ------------------------------------------------------------
  // Quote
  // ------------------------------------------------------------
  /*
---
name: Quote
tag:
  - atom
  - latest
category:
  - post
  - postBody/blockquote
compile: true
---
```jade
article
  blockquote
```
  */
  blockquote:not([class])
    vertical-rhythm: true
    background: $pure-white
    border: 1px solid $bg-color-emphasis
    border-left: rhythmical-space(0.25) solid $bg-color-emphasis
    border-radius: 5px
    rhythmical-padding: 0.5 0.5 0.5 0.5
    rhythmical-margin: 0 0.5 1 0.5
    +media-query(media-medium)
      rhythmical-margin: 0 1 1 1
  // ------------------------------------------------------------
  // Paragraph and etc.
  // ------------------------------------------------------------
  /*
---
name: Paragraph
tag:
  - atom
  - latest
category:
  - post
  - postBody/Paragraph
compile: true
---
```jade
article
  p
    | これはテストです
    em これは強勢(em)のテストです
    string これは強調(strong)のテストです
    code ここはコードです
```
  */
  p:not([class])
    text-align: justify
    vertical-rhythm: true
    rhythmical-margin: 0 0.5 1 0.5
    +media-query(media-medium)
      rhythmical-margin: 0 1 1 1
  em:not([class])
    border-bottom: 1px dotted @color
  strong:not([class])
    font-weight: bold
    line-marker: true
  code:not([class])
    font-family: $font-family-monospace
  // ------------------------------------------------------------
  // Table
  // ------------------------------------------------------------
  /*
  ---
  name: Table
  tag:
  - atom
  - latest
  category:
  - postBody
  - postBody/table
  compile: true
  ---
  */
  table:not([class])
    border-collapse: collapse
    border-spacing: 0
    overflow: auto
    display: block
    vertical-rhythm: true
    rhythmical-margin: 0 0.5 1 0.5
    +media-query(media-medium)
      rhythmical-margin: 0 1 1 1
    th:not([class])
      padding: 5px 10px
      background: tint($bg-color-emphasis, 20%)
      font-weight: bold
      &:first-child
        border-radius: 5px 0 0 0
      &:last-child
        border-radius: 0 5px 0 0
    td:not([class])
      padding: 5px 10px
    tr:not([class])
      background: tint($bg-color-emphasis, 60%)
      border-bottom: 1px solid shade($bg-color-emphasis, 5%)
      &:last-child
        border-bottom: none
      &:nth-child(odd)
        background: tint($bg-color-emphasis, 75%)
  // ------------------------------------------------------------
  // Blocks
  // ------------------------------------------------------------
  /*
  ---
  name: Blocks
  tag:
  - atom
  - latest
  category:
  - postBody
  - postBody/blocks
  compile: true
  ---
  */
  pre:not([class])
    background: $black-base
    color: $white-base
    border-radius: 3px
    line-height: 1.125
    overflow-x: auto
    white-space: pre
    rhythmical-padding: 0.25 0.5 0.25 0.5
    rhythmical-margin: 0 0.5 1 0.5
    +media-query(media-medium)
      rhythmical-margin: 0 1 1 1
  pre:not([class]) > code
    letter-spacing: 0
    background: none
    color: inherit
    border-radius: inherit
    padding: inherit
    margin: auto
    font-smoothing: antialiased
  code:not([class]),
  var:not([class]),
  samp:not([class]),
  dfn:not([class])
    font-size: $font-size-small
    font-family: $font-family-monospace
    background: shade($pure-white, round($amount-base * 0.25))
    color: $pure-black
    border-radius: 3px
    rhythmical-padding: 0.0625 0.25 0.0625 0.25
    rhythmical-margin: 0 0.125 0 0.125
  kbd:not([class])
    display: inline-block
    padding: 3px 5px
    margin: auto 5px 2px 5px
    font-size: $font-size-small
    line-height: 10px
    color: $pure-black
    vertical-align: middle
    background-color: $pure-white
    border: solid 1px $grey-base
    border-bottom-color: $grey-base
    border-radius: 3px
    box-shadow: inset 0 -1px 0 $grey-base
  .linkbox
    font-feature-settings: 'palt' 1
    vertical-rhythm: true
    background: $pure-white
    border: 1px solid $bg-color-emphasis
    border-right: rhythmical-space(0.25) solid $bg-color-emphasis
    border-radius: 5px
    rhythmical-padding: 0.5 0.5 0.5 0.5
    rhythmical-margin: 0 0.5 1 0.5
    display: flex
    +media-query(media-medium)
      rhythmical-margin: 0 1 1 1
  .linkbox_image
    width: 23%
  .linkbox_info
    width: 77%
    rhythmical-padding: 0 0 0 0.5
  .linkbox_title
    font-weight: bold
  .linkbox_description
    font-weight: normal
    font-size: 0.8em
    text-align: right
    line-height: 1
  .linkbox_shoplinks
    display: flex
    flex-wrap: wrap
  .linkbox_shopBtn
    rhythmical-padding: 0.25 0.25 0 0
    link-variation: $black-base true
  .shopBtn_link
    font-weight: bold
    rhythmical-padding: 0.25 0.25 0.25 0.25
    border-radius: 7px
    &.is-amazon
      &:visited, &:active
        border: 2px solid $ssc.Amazon
        background: tint($ssc.Amazon, ($amount-base * 2))
      &:hover
        background: $ssc.Amazon
        border: 2px solid $ssc.Amazon
        color: $white-base
      &:before
        content: url(https://cdnjs.cloudflare.com/ajax/libs/simple-icons/3.0.1/amazon.svg)
    &.is-rakuten
      :visited, :active
        border: 2px solid $sc.Rakuten
        background: tint($sc.Rakuten, ($amount-base * 2))
      &:hover
        background: $sc.Rakuten
        border: 2px solid $sc.Rakuten
        color: $white-base
      &:before
        content: "R"
        color: $white-base
        border-radius: 50%
        background: $black-base
