.relatedPosts
  rhythmical-margin: 1 0.5 0 0.5
  .relatedPosts_title
    font-weight: bold
    link-variation: $font-color-base true
  .relatedPosts_list
    li
      border-bottom: 1px dashed $grey-base
      rhythmical-padding: 0 0.5 0 0.5
