.tagcloud
  color: $white-base
  link-variation: $white-base true
.tagcloud_title
  background: $black-base
  border: 0
  outline: 0
.tagcloud-list
  margin-left: rhythmical-space(0.5)
  & > li
    color: $white-base
    display: inline-block
    margin-right: 0.5rem
    max-width: 100%
    text-align: left
.tagcloud-list-item
  &:before
    content: '#'
