// @charset 'utf-8'
// ============================================================
// Frameworks and Plugins for it with formatting
// ============================================================
@import 'kouto-swiss'
meyer-reset()
box-sizing-reset()
// follows atomic design concept
// ============================================================
// base settings *order sensitive*
// ============================================================
@import '_global/_fonts'
@import '_global/_colors'
@import '_global/_variables'
@import '_global/_mixins'
@import '_global/_base'
// ============================================================
// atoms | is minimum components
// ============================================================
@require '_atoms/*'
// ============================================================
// molecules, atoms make a molecule
// ============================================================
@import '_molecules/*'
// ============================================================
// organisms, molecules make a organism
// ============================================================
@import '_organisms/*'
