head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# {block:IndexPage}blog: http://ogp.me/ns/blog# {/block:IndexPage}{block:PermalinkPage}article: http://ogp.me/ns/article# {PostID}{/block:PermalinkPage}")
  title #{config.title} - #{page.title}
  != partial('_atoms/_metas')
  != partial('_atoms/_links')
  != partial('_atoms/_amps')
  != partial('_atoms/_schema')
  if cache
    != ampcss('css/style.css')
  else
    != css('css/style.css')
  //- 
