
.paging
  ul.paging_items.is-permalink
    li.paging_item: a.is-link.next(href='NextPost', rel='next')
      i.fa.fa-angle-double-left &nbsp;
      | ひとつ新しい記事
    li.paging_item: a.is-link(href='PreviousPost')
      |ひとつ古い記事&nbsp;
      i.fa.fa-angle-double-right
  ul.paging_items
    li.paging_item: a.is-link(href='PreviousPage')
      i.fa.fa-angle-double-left &nbsp;
      | 新しい記事
    li.paging_item.is-current PageNumber
    li.paging_item: a.is-link.is-jump(href='URL') PageNumber
    li.paging_item: a.is-link.next(href='NextPage', rel='next')
      | 古い記事&nbsp;
      i.fa.fa-angle-double-right

//- .paging
//-   != paginator({prev_text: '&laquo; Prev', next_text: 'Next &raquo;'})
//- 
