if is_tag()
  h2.tagged タグ "#{page.tag}" が付けられた記事

if is_category()
  h2.tagged カテゴリが "#{page.category}" の記事

if isSearchPosts
  if searchResultCount
    h2 "#{searchQuery}"の検索結果: #{searchResultCount} 件
  else
    p 該当する記事は見つかりませんでした
