header.postHeader
  .postHeader_tags
    if post.tags
      i.fa.fa-fw.fa-tags
      != list_tags(post.tags, { show_count: false})
  .postHeader_date
    i.fa.fa-fw.fa-clock-o
    != partial('_atoms/_postDate')
