header.m-postHeader
  .m-postHeader_tags
    if page.tags
      i.fa.fa-fw.fa-tags
      each tag in page.tags
        != partial('_atoms/_tag', {tag:tag})
  .m-postHeader_date
    i.fa.fa-fw.fa-clock-o
      != partial('_atoms/_postDate')
