ul.socialBtns(class=is_post() ? 'is-permalink' : '')
  != partial('_atoms/_tumblrBtn')
  != partial('_atoms/_hatebBtn')
  != partial('_atoms/_twitterBtn')
  != partial('_atoms/_fbBtn')
  != partial('_atoms/_lineBtn')
  != partial('_atoms/_pocketBtn')
