if is_amp || is_post()
  ul.socialBtns.is-permalink
    include _atoms/_tumblrBtn
    include _atoms/_hatebBtn
    include _atoms/_twitterBtn
    include _atoms/_fbBtn
    include _atoms/_lineBtn
    include _atoms/_pocketBtn
else
  ul.socialBtns
    include _atoms/_tumblrBtn
    include _atoms/_hatebBtn
    include _atoms/_twitterBtn
    include _atoms/_fbBtn
    include _atoms/_lineBtn
    include _atoms/_pocketBtn
